extends layout

block content
  h1= title
  ul.list-group 
      li.list-group-item  Musiqani nomi  : #{musics.name}
      li.list-group-item  Qoshiqchi : #{musics.name}
      li.list-group-item  Izoh  : #{musics.name}

